<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<welcome-file-list>  
    <welcome-file>Start</welcome-file>  
</welcome-file-list>  
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>controller.Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirSenha</servlet-name>
        <servlet-class>controller.IncluirSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChamarSenha</servlet-name>
        <servlet-class>controller.ChamarSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetarSenhas</servlet-name>
        <servlet-class>controller.ResetarSenhas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirSenha</servlet-name>
        <url-pattern>/IncluirSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChamarSenha</servlet-name>
        <url-pattern>/ChamarSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetarSenhas</servlet-name>
        <url-pattern>/ResetarSenhas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
